<div class="page-head">
	<h2 class="pull-left">Relatório de Produtos
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<!-- <%= link_to 'Expedição', dispatches_path, {:class => "bread-current"} %> -->
		<a href="#" class="bread-current">Relatório de Produtos</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			Filtro
		</div>		
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">
		<form action="<%= report_product_reports_path %>" method="POST">
			<div class="row-fluid">
				<div class="span3">
					<label for="codigo">Código</label>
					<input type="text" name="codigo" id="codigo" ng-model="codigo">
				</div>
				<div class="span6">
					<label for="name">Nome</label>
					<input type="text" name="name" id="name" ng-model="name">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<label for="product_type_id">Tipo de Produto</label>
					<select class="select-2" id="product_type_id" name="product_type_id" ng-model="product_type" ng-change="recarregar()">
						<option></option>				
						<option value="">Todos</option>			
						<% @product_types.each do |product_type|%>
							<option value="<%=product_type.id%>"><%=product_type.descricao%></option>					  	
						<%end%>
					</select>
				</div>				
				<div class="span6">
					<label for="provider_id">Fornecedor</label>
					<select class="select-2" id="provider_id" name="provider_id" ng-model="provider_id">
						<option></option>				
						<option value="">Todos</option>			
						<% @providers.each do |provider|%>
							<option value="<%=provider.id%>"><%=provider.nome%></option>					  	
						<%end%>
					</select>
				</div>
				<input type="hidden" name="format" value="pdf">
			</div>
			<div class="actions">
				<button type="submit" class="btn btn-primary">Visualizar</button>
			</div>								
		</form>
	</div>

</div>