<div class="row-fluid">

	<div class="span12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Cadastro de Novo Fornecedor</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<%= form_for(@provider) do |f| %>
					<% if @provider.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

						<ul>
							<% @provider.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
					<% end %>

					<div class="row-fluid">
						<div class="span6">
							<%= f.label :nome %>
							<%= f.text_field :nome %>
						</div>
						<div class="span6">
							<%= f.label :contato %>
							<%= f.text_field :contato %>
						</div>
					</div>

					<div class="row-fluid">
						<div class="span5">
							<%= f.label :endereco, "Endereço" %>
							<%= f.text_field :endereco %>
						</div>
						<div class="span4">
							<%= f.label :cidade %>
							<%= f.text_field :cidade %>
						</div>
						<div class="span3">
							<%= f.label :pais %>
							<%= f.text_field :pais %>
						</div>
					</div>
					
					<div class="row-fluid">
						<div class="span6">
							<%= f.label :email, 'E-mail' %>
							<%= f.text_field :email %>
						</div>
						
						<div class="span6">
							<%= f.label :telefone %>
							<%= f.text_field :telefone %>
						</div>
					</div>

					<div class="actions">
						<%= f.submit "Cadastrar", :class => "btn btn-inverse" %>
					</div>
					<% end %>

				</div>
			</div>
		</div>

	</div>

</div>