<div class="page-head">
	<h2 class="pull-left">Fornecedores
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Fornecedores</a>
	</div>
	<div class="clearfix"></div>
</div>

<%= render 'form' %>

<%= link_to 'Voltar', providers_path,  :class => "btn btn-link" %>
