<div class="page-head">
	<h2 class="pull-left">Fornecedores
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Fornecedores</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Novo fornecedor'), new_provider_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">

		<table class="table table-bordered table-striped" id="reportProviders">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Endereco</th>
					<th>Cidade</th>
					<th>País</th>
					<th>Opções</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @providers.each do |provider| %>
				<tr>
					<td><%= provider.nome %></td>
					<td><%= provider.endereco %></td>
					<td><%= provider.cidade %></td>
					<td><%= provider.pais %></td>
					<td><%= link_to 'Editar', edit_provider_path(provider) %></td>
					<td><%= link_to 'Excluir', provider, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>
</div>