<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @provider.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @provider.endereco %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @provider.cidade %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @provider.pais %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @provider.contato %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @provider.telefone %>
</p>

<%= link_to 'Editar', edit_provider_path(@provider) %> |
<%= link_to 'Voltar', providers_path %>
