<div class="row-fluid">

	<div class="span12">

		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Cadastro tipo de produto</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<%= form_for(@product_type) do |f| %>
						<div class="row-fluid">
							<div class="span7">
								<%= f.label :descricao, "Descrição" %>
								<%= f.text_field :descricao %>
							</div>
						</div>
						<div class="actions">
							<%= f.submit "Cadastrar", :class => "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>  

	</div>

</div>