<div class="page-head">
	<h2 class="pull-left">Tipos de Produto</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Tipos de Produto</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Novo Tipo de Produto'), new_product_type_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">


		<table class="table table-bordered table-striped" id="reportProductTypes">
			<thead>
				<tr>
					<th>Descrição</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @product_types.each do |product_type| %>
				<tr>
					<td><%= product_type.descricao %></td>
					<td><%= link_to 'Editar', edit_product_type_path(product_type) %></td>
					<td><%= link_to 'Excluir', product_type, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>

</div>
