<div class="page-head">
	<h2 class="pull-left">Tipos de Produto</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Tipos de Produto</a>
	</div>
	<div class="clearfix"></div>
</div>

<%= render 'form' %>

<%= link_to 'Voltar', product_types_path, :class => "btn btn-link" %>