<link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="stylesheet" type="text/css" href="/assets/icomoon.css">

<div class="admin-form">
	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wgreen">
					<!-- Widget head -->
					<div class="widget-head"><i class="icon-lock"></i> Cadastre-se</div>

					<div class="widget-content">
						<div class="padd">

							<%= form_for(resource, :as => resource_name, html: { class: "form-horizontal" },:url => registration_path(resource_name)) do |f| %>
							<%= devise_error_messages! %>

							<div class="control-group">
								<%= f.label :email, "E-mail", :class => "control-label" %>
								<div class="controls">
									<%= f.email_field :email, :autofocus => true %>
								</div>
							</div>

							<div class="control-group">
								<%= f.label :password, "Senha", :class => "control-label" %>
								<div class="controls">
									<%= f.password_field :password %>
								</div>
							</div>

							<div class="control-group">
								<%= f.label :password_confirmation, "Confirmação Senha", :class => "control-label" %>
								<div class="controls">
									<%= f.password_field :password_confirmation %>
								</div>
							</div>

							<div class="control-group">
								<div class="controls">
									<%= f.submit "Cadastrar", :class => "btn btn-primary" %>
									<button type="reset" class="btn">Limpar</button>
								</div>
							</div>
							<% end %>

						</div>
					</div>
					<div class="widget-foot">
						<%= render "devise/shared/links" %>
					</div>
				</div>  
			</div>
		</div>
	</div> 
</div>