<div class="row-fluid">

	<div class="span12">


		<div class="widget wgreen" ng-controller="DispatchController" data-ng-init="init()">

			<div class="widget-head">
				<div class="pull-left">Arquivo</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">
					<%= form_for @file_storage do |f| %>
						
						<div class="row-fluid">
							<div class="span3">
								<%= f.label :name, 'Nome' %>
								<%= f.date_field :name, :required => true %>
							</div>
							<div class="span3">
								<%= f.label :file, 'Arquivo' %>
								<%= f.file_field :file %>
							</div>
						</div>
						<%= f.submit 'Cadastrar', :class => "btn btn-inverse" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>