<div class="page-head">
	<h2 class="pull-left">Arquivos
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Arquivos</a>
	</div>
	<div class="clearfix"></div>
</div>



<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Novo arquivo'), new_file_storage_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">
		<table class="table table-bordered table-striped" id="reportDispatches">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Data de envio</th>
					<th>Download</th>	
					<th></th>	
				</tr>
			</thead>
			<tbody>
				<% @file_storages.each do |file_storage| %>
					<tr>
						<td> <%= file_storage.name %> </td>
						<td> <%= format_created_at(file_storage.created_at) %> </td>
						<td> <%= link_to 'Download', file_storage.file.url %> </td>
						<td><%= link_to 'Excluir', file_storage, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
