<div class="page-head">
	<h2 class="pull-left">Relatório de Recebimentos
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<!-- <%= link_to 'Expedição', dispatches_path, {:class => "bread-current"} %> -->
		<a href="#" class="bread-current">Relatório de Recebimentos</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			Filtro
		</div>		
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">
		<form action="<%=report_receipt_reports_path(:format => :pdf)%>" method="POST">
			<div class="row-fluid">
				<div class="span6">
					<label for="product_type_id">Tipo de Produto</label>
					<select class="select-2" id="product_type_id" name="product_type_id">
						<option></option>				
						<option value="">Todos</option>			
						<% @product_types.each do |product_type|%>
							<option value="<%=product_type.id%>"><%=product_type.descricao%></option>					  	
						<%end%>
					</select>
				</div>
				<div class="span6">
					<label for="product_id">Produto</label>
					<select class="select-2" id="product_type_id" name="product_id">
						<option></option>				
						<option value="">Todos</option>			
						<% @products.each do |product|%>
							<option value="<%=product.id%>"><%=product.name%></option>					  	
						<%end%>
					</select>
				</div>
			</div>
			<br/>
			<div class="row-fluid">
				<div class="span12">
					<label for="address_id">Endereço</label>
					<select class="select-2" id="address_id" name="address_id">
						<option></option>
						<option value="">Todos</option>
						<% @addresses.each do |parent, address|%>
							<% if !parent.nil? %>
								<optgroup label="<%=parent.nome%>">
									<% address.each do |address| %>
										<option value="<%=address.id%>"><%=address.nome%></option>
									<% end %>
								</optgroup>
							<% end %>								  	
						<%end%>
					</select>
				</div>
			</div>
			<br/>
			<div class="row-fluid">
				<div class="span3">
					<label for="usuario">Usuário do Recebimento</label>
					<input type="text" name="usuario" id="usuario">
				</div>
				<div class="span3">
					<label for="rastreio">Rastreio</label>
					<input type="text" name="rastreio" id="rastreio">
				</div>
				<div class="span3">
					<label for="quantidade">Quantidade</label>
					<input type="number" name="quantidade" id="quantidade">
				</div>
				<div class="span3">
					<label for="avarias">Avarias?</label>
					<input id="avarias" name="avarias" type="checkbox" value="1">
				</div>				
			</div>
			<div class="actions">
				<button type="submit" class="btn btn-primary">Visualizar</button>
			</div>								
		</form>
	</div>

</div>