<div class="row-fluid">

	<div class="span12">

		<div class="widget wgreen" ng-controller="UserCtrl" data-ng-init="init(<%= @user.id%>)">

			<div class="widget-head">
				<div class="pull-left">Cadastro de Novo Usuário</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<%= form_for(@user, url: {action: "save"}) do |f| %>
						<% if @user.errors.any? %>
						<div id="error_explanation">
							<h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>

							<ul>
								<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
								<% end %>
							</ul>
						</div>
						<% end %>
						
						<%= f.text_field :id %>

						<div class="row-fluid">
							<div class="span7">
								<%= f.label :email, 'E-mail' %>
								<%= f.text_field :email %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span4">
								<%= f.label :password, "Senha" %>
								<%= f.text_field :password %>
							</div>
							<div class="span4">
								<%= f.label :password_confirmation, "Repita a senha" %>
								<%= f.text_field :password_confirmation %>
							</div>
							<div class="span4">
								<label>Roles: </label>
								<%= select_tag "roles_to_add", options_from_collection_for_select(@roles, :id, :name), :'ng-model' => 'selectedProfile', :include_blank => true %>
								<button class="btn btn-primary" type="button" ng-click="addProfile()">Adicionar</button>
								<%= text_field_tag :roles, nil, :'ng-model' => 'selectedRoles' %>
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Perfil</th>
											<th>Opções</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="profile in profiles">
											<td>{{profile.name}}</td>
											<td ng-click="removeProfile(profile.id)">Excluir</td>
										</tr>                                                              
									</tbody>
								</table>
							</div>
							
						</div>
						<div class="actions">
							<%= f.submit "Cadastrar", :class => "btn btn-inverse" %>
						</div>
						
					<% end %>
				</div>
			</div>
		</div>  

	</div>

</div>