<div class="page-head">
	<h2 class="pull-left">Usuários 
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Usuários</a>
	</div>
	<div class="clearfix"></div>
</div>



<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Novo usuário'), new_user_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">

		<table class="table table-bordered table-striped" id="reportUsers">
			<thead>
				<tr>
					<th>E-mail</th>
					<th>Perfis</th>
					<th>Opções</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= user.email %></td>
						<td><%= roles_to_view(user.roles) %></td>
						<td><%= link_to 'Editar', edit_user_path(user) %></td>
						<td><%= link_to 'Excluir', delete_user_path(user), method: :delete, data: { confirm: 'Tem certeza?' } %></td>
					</tr>
				<% end %>                                                                    
			</tbody>
		</table>

	</div>

</div>