<link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/style.css">
<link rel="stylesheet" type="text/css" href="/assets/icomoon.css">

<div class="admin-form">
	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wgreen">
					<!-- Widget head -->
					<div class="widget-head"><i class="icon-lock"></i> Recuperação de Senha</div>

					<div class="widget-content">
						<div class="padd">

						<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-horizontal" }) do |f| %>
							  <%= devise_error_messages! %>

							  <div class="control-group">
								<%= f.label :email, "E-mail", :class => "control-label" %>
								<div class="controls">
									<%= f.email_field :email, :autofocus => true %>
								</div>
							</div>

							<div class="control-group">
								<div class="controls">
									<%= f.submit "Enviar instruções por e-mail", :class => "btn btn-primary" %>
								</div>
							</div>

						<% end %>

						</div>
					</div>
					<div class="widget-foot">
						<%= render "devise/shared/links" %>
					</div>
				</div>  
			</div>
		</div>
	</div> 
</div>