<div class="page-head">
	<h2 class="pull-left">Dashboard</h2>

	<div class="bread-crumb pull-right">
		<a href="index.html"><i class="icon-home"></i> Home</a> 
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Dashboard</a>
	</div>

	<div class="clearfix"></div>

</div>

<%= link_to 'Produtos', products_path, :class => "btn btn-inverse" %>

<%= link_to 'Fornecedores', providers_path, :class => "btn btn-inverse" %>