<div class="row-fluid">

	<div class="span12">


		<div class="widget wgreen" ng-controller="DispatchController" data-ng-init="init()">

			<div class="widget-head">
				<div class="pull-left">Expedição</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">
					<%= form_for @dispatch do |f| %>
						<%= f.hidden_field :status, :value => "Saída" %>
						<div class="row-fluid">
							<div class="span12">
								<%= f.label :product, "Produto" %>						
								<%= f.select(:product_id, @products.collect {|p| [ p.name, p.id ] }, { :include_blank => '' }, :required => true, :class => "select-2" )%>
							</div>
						</div>
						</br>
						<div class="row-fluid">
							<div class="span6">
								<label for="address_id">Endereço</label>
								<select required="required" class="select-2" id="dispatch_address_id" name="dispatch[address_id]">
									<option></option>
									<% @addresses.each do |parent, address|%>
										<% if !parent.nil? %>
											<optgroup label="<%=parent.nome%>">
												<% address.each do |address| %>
													<option value="<%=address.id%>"><%=address.nome%></option>
												<% end %>
											</optgroup>
										<% end %>								  	
									<%end%>
								</select>
							</div>
						</div>
						<br/>
						<div class="row-fluid">
							<div class="span3">
								<%= f.label :expedicao, 'Expedição' %>
								<%= f.date_field :expedicao, :required => true %>
							</div>
							<div class="span3">
								<%= f.label :quantidade, 'Quantidade' %>
								<%= f.number_field :quantidade, :required => true %>
							</div>
							<div class="span6">
								<%= f.label :solicitante, 'Nome do Solicitante' %>
								<%= f.text_field :solicitante, :required => true %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span6">
								<%= f.label :conferente, 'Conferente' %>
								<%= f.text_field :conferente, :required => true %>
							</div>
							<div class="span6">
								<%= f.label :conferente_adicional, 'Conferente Adicional' %>
								<%= f.text_field :conferente_adicional, :required => true %>
							</div>
						</div>
						<%= f.submit 'Cadastrar', :class => "btn btn-inverse" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>