<div class="page-head">
	<h2 class="pull-left">Expedição
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<!-- <%= link_to 'Expedição', dispatches_path, {:class => "bread-current"} %> -->
		<a href="#" class="bread-current">Expedição</a>
	</div>
	<div class="clearfix"></div>
</div>



<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Nova expedição'), new_dispatch_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">
		<table class="table table-bordered table-striped" id="reportDispatches">
			<thead>
				<tr>
					<th>Produto</th>
					<th>Endereço</th>
					<th>Expedição</th>
					<th>Quantidade</th>
					<th>Solicitante</th>
					<th>Conferente</th>
					<th>Conferente Adicional</th>
					<th></th>	
				</tr>
			</thead>
			<tbody>
				<% @dispatches.each do |dispatch| %>
					<tr>
						<td> <%= dispatch.product.name %> </td>
						<td> <%= dispatch.address.nome if !dispatch.address.nil? %> </td>
						<td> <%= dispatch.expedicao.to_s(:date) %> </td>
						<td> <%= dispatch.quantidade %> </td>
						<td> <%= dispatch.solicitante %> </td>
						<td> <%= dispatch.conferente %> </td>
						<td> <%= dispatch.conferente_adicional %> </td>
						<td> <%= link_to 'Editar', edit_dispatch_path(dispatch)%> </td>						
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>