<div class="page-head">
	<h2 class="pull-left">Armazenamento
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<!-- <%= link_to 'Expedição', dispatches_path, {:class => "bread-current"} %> -->
		<a href="#" class="bread-current">Armazenamento</a>
	</div>
	<div class="clearfix"></div>
</div>



<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			Filtro
		</div>		
		<div class="clearfix"></div>
	</div>

	<div class="widget-content" ng-controller="StoragesController" data-ng-init="init()">
		<!-- TODO: colocar essa concat num helper e testar -->
		<form action="<%=report_storages_path(:format => :pdf)%>" method="GET">
				<div class="row-fluid">
					<div class="span3">
						<label>Data</label>
						<input id="data" type="date" name="data" ng-model="data" ng-change="recarregar()">
					</div>					
				</div>
				<div class="row-fluid">
					<div class="span6">
						<label for="address_id">Endereço</label>
						<select class="select-2" id="address_id" name="address_id" ng-model="address" ng-change="recarregar()">
							<option></option>
							<option value="">Todos</option>
							<% @addresses.each do |parent, address|%>
								<% if !parent.nil? %>
									<optgroup label="<%=parent.nome%>">
										<% address.each do |address| %>
											<option value="<%=address.id%>"><%=address.nome%></option>
										<% end %>
									</optgroup>
								<% end %>								  	
							<%end%>
						</select>
					</div>
				</div>
				<br/>
				<div class="row-fluid">
					<div class="span6">
						<label for="product_type_id">Tipo de Produto</label>
						<select class="select-2" id="product_type_id" name="product_type_id" ng-model="product_type" ng-change="recarregar()">
							<option></option>				
							<option value="">Todos</option>			
							<% @product_types.each do |product_type|%>
								<option value="<%=product_type.id%>"><%=product_type.descricao%></option>					  	
							<%end%>
						</select>
					</div>
					<div class="span6">
						<label for="product_id">Produto</label>
						<select class="select-2" id="product_id" name="product_id" ng-model="product" ng-change="recarregar()">
							<option></option>				
							<option value="">Todos</option>			
							<% @products.each do |product|%>
								<option value="<%=product.id%>"><%=product.name%></option>					  	
							<%end%>
						</select>
					</div>					
				</div>
				<div class="actions">
					<button type="submit" class="btn btn-primary">Imprimir</button>								
				</div>
			</form>		
			<hr></hr>
			<h5>Resultados da pesquisa</h5>
			<table class="table table-bordered table-striped" id="storagesTable">
				<thead>
					<tr>
						<th>Produto</th>
						<th>Recebimento</th>
						<th>Expedicao</th>
						<th>Armazenado</th>
						<th></th>
					</tr>
				</thead>
				<tbody>			
					<tr ng-repeat-start="storage in storages">						
						<td>{{storage.product.name}}</td>
						<td>{{storage.receipt}}</td>
						<td>{{storage.dispatch}}</td>
						<td>{{storage.storage}}</td>
						<td> <button type="button" class="btn btn-primary detail">Detalhes</button> </td>
					</tr>
					<tr class="next hide" ng-repeat-end>
						<td colspan="5">
							<table class="table table-bordered table-striped">
								<thead>
									<th>Tipo</th>
									<th>Data</th>
									<th>Quantidade</th>							
									<th>Avarias</th>
								</thead>
								<tbody>
									<tr ng-repeat="history_receipt in storage.history_receipts">
										<td>Recebimento</td>
										<td>{{history_receipt.receipt.data_recebimento}}</td>
										<td>{{history_receipt.pre_receipt.quantidade}}</td>
										<td>{{history_receipt.receipt.qtde_avariada}}</td>
									</tr>
									<tr ng-repeat="history_dispatche in storage.history_dispatches">
										<td>Expedição</td>
										<td>{{history_dispatche.expedicao}}</td>
										<td>{{history_dispatche.quantidade}}</td>
										<td>-</td>
									</tr>
								</tbody>								
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>

</div>