<div class="page-head">
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Armazenamento</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			Armazenamento em 
			<%= params[:data].to_time.to_s(:date) %>
		</div>		
		<div class="clearfix"></div>
	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Produto</th>
				<th>Recebimento</th>
				<th>Expedicao</th>
				<th>Armazenado</th>
			</tr>
		</thead>
		<tbody>
			<% @storages.each do |storage| %>
				<tr>
					<td><%= storage.product.name %></td>
					<td><%= storage.receipt %></td>
					<td><%= storage.dispatch %></td>
					<td><%= storage.storage %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

</div>

<%= link_to "Voltar", storages_path, :class => "btn btn-primary" %>