<div class="admin-form">
	<div class="container-fluid">

		<div class="row-fluid">
			<div class="span12">
				<!-- Widget starts -->
				<div class="widget wgreen">
					<!-- Widget head -->
					<div class="widget-head"><i class="icon-lock"></i> Login</div>

					<div class="widget-content">
						<div class="padd">

							<%= form_for(resource, :as => resource_name,  html: { class: "form-horizontal" }, :url => session_path(resource_name)) do |f| %>

								<div class="control-group">
									<%= f.label :email, "E-mail", :class => "control-label" %>
									<div class="controls">
										<%= f.email_field :email, :autofocus => true %>
									</div>
								</div>
								<div class="control-group">
									<%= f.label :password, "Senha", :class => "control-label" %>
									<div class="controls">
										<%= f.password_field :password %>
									</div>
								</div>

								<% if devise_mapping.rememberable? -%>
									<div class="control-group">
										<div class="controls">
											<label class="checkbox">
												<%= f.check_box :remember_me %> Mantenha-me conectado
											</label>
											<%= f.submit "Entrar", :class => "btn btn-primary" %>
											<button type="reset" class="btn">Limpar</button>
										</div>
									</div>
								<% end -%>

							<% end %>

						</div>
					</div>
					<div class="widget-foot">
						<%= render "devise/shared/links" %>
					</div>
				</div>  
			</div>
		</div>
	</div> 
</div>