<div class="row-fluid">

	<div class="span12">

		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Cadastro de Novo Produto</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<%= form_for(@address)  do |f| %>
						<% if @address.errors.any? %>
							<div id="error_explanation">
								<h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>
								<ul>
									<% @address.errors.full_messages.each do |msg| %>
									<li><%= msg %></li>
									<% end %>
								</ul>
							</div>
						<% end %>

						<div class="row-fluid">
							<div class="span7">
								<%= f.label :nome %>
								<%= f.text_field :nome %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span7">
								<%= f.label :address, 'Endereço acima' %>
								<%= f.select(:address_id, @addresses.collect {|p| [ address_name_increment(p), p.id ] }, { :include_blank => 'Selecione' })%>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span6">
								<%= f.label :file, 'Imagem do Endereço' %>
								<%= f.file_field :file %>
							</div>
						</div>
						<div class="actions">
							<%= f.submit "Cadastrar", :class => "btn btn-inverse" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>  

	</div>

</div>