<div class="page-head">
	<h2 class="pull-left">Endereços</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Endereços</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Novo endereço'), new_address_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">


		<table class="table table-bordered table-striped" id="reportAddress">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Endereço acima</th>
					<th>Imagem</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @addresses.each do |address| %>
				<tr>
					<td><%= address.nome %></td>
					<td><%= show_if_has_address(address) %></td>
					<td><%= image_tag address.file.url, :height => "100", :width => "100" if !address.file.nil? && !address.file_file_name.nil? %></td>
					<td><%= link_to 'Editar', edit_address_path(address) %></td>
					<td><%= link_to 'Excluir', address, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
				</tr>
				<% end %>
			</tbody>
		</table>

	</div>

</div>
