<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @address.nome %>
</p>

<p>
	<strong>Endereço acima:</strong>
	<%=	show_if_has_address(@address) %>
</p>

<%= link_to 'Editar', edit_address_path(@address) %> |
<%= link_to 'Voltar', addresses_path %>
