<script>
	var $scope;
	function Product($scope) {
		$scope.productAltura = '<%= @product.altura %>';
		$scope.productComprimento = '<%= @product.comprimento %>';
		$scope.productLargura = '<%= @product.largura %>';
	};
</script>

<div class="row-fluid">

	<div class="span12">

		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Cadastro de Novo Produto</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">

					<%= form_for(@product) do |f| %>
						<% if @product.errors.any? %>
						<div id="error_explanation">
							<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

							<ul>
								<% @product.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
								<% end %>
							</ul>
						</div>
						<% end %>
						<div class="row-fluid">
							<div class="span12">
								<%= f.label :product_type_id, 'Tipo de Produto' %>
								<%= collection_select(:product, :product_type_id, @product_types, :id, :descricao ) %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span2">
								<%= f.label :codigo, 'Código' %>
								<%= f.text_field :codigo %>
							</div>
							<div class="span7">
								<%= f.label :name, 'Nome' %>
								<%= f.text_field :name %>
							</div>
							<div class="span3">
								<%= f.label :provider, 'Fornecedor' %>
								<%= collection_select(:product, :provider_id, @providers, :id, :nome ) %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span4">
								<%= f.label :peso %>
								<%= f.text_field :peso %>
							</div>
							<div class="span4" ng-controller="Product">
								<%= f.label :medidas %>
								<%= f.text_field :altura, :class => 'span3', :placeholder => 'A', "ng-model" => "productAltura" %>
								<%= f.text_field :largura, :class => 'span3', :placeholder => 'L', "ng-model" => "productLargura" %>
								<%= f.text_field :comprimento, :class => 'span3', :placeholder => 'C', "ng-model" => "productComprimento" %>
								<p>
									<strong>Área</strong>: 
									<span ng-show="productLargura && productComprimento">
										{{(productLargura * productComprimento)}}
									</span>
								</p>
								<p>
									<strong>Volume</strong>: 
									<span ng-show="productLargura && productComprimento && productAltura">
										{{(productLargura * productComprimento * productAltura)}}
									</span>
								</p>
							</div>
							<div class="actions">
								<%= f.submit "Cadastrar", :class => "btn btn-inverse" %>
							</div>
						</div>
					<% end %>


				</div>
			</div>
		</div>  

	</div>

</div>