<div class="page-head">
	<h2 class="pull-left">Produtos 
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Produtos</a>
	</div>
	<div class="clearfix"></div>
</div>



<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Novo produto'), new_product_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">

		<table class="table table-bordered table-striped" id="reportProducts">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome</th>
					<th>Fornecedor</th>
					<th>Peso</th>
					<th>Tipo</th>
					<th>Altura</th>
					<th>Largura</th>
					<th>Comprimento</th>
					<th>Opções</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
					<tr>
						<td><%= product.codigo %></td>
						<td><%= product.name %></td>
						<td><%= link_to product.provider.nome, product_path(product.provider) %></td>
						<td><%= product.peso %></td>
						<td><%= product.product_type.descricao unless product.product_type.nil? %></td>
						<td><%= product.altura %></td>
						<td><%= product.largura %></td>
						<td><%= product.comprimento %></td>
						<td><%= link_to 'Editar', edit_product_path(product) %></td>
						<td><%= link_to 'Excluir', product, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
					</tr>
				<% end %>                                                                    
			</tbody>
		</table>

	</div>

</div>