<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.codigo %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @product.provider.nome %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @product.peso %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @product.product_type.descricao %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @product.altura %>
</p>

<p>
  <strong>Largura:</strong>
  <%= @product.largura %>
</p>

<p>
  <strong>Comprimento:</strong>
  <%= @product.comprimento %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
