<script>
	var $scope;
	function Receipt($scope) {
		$scope.hasDamages = <%= @receipt.avarias %>;
	};
</script>
<div class="row-fluid">

	<div class="span12">


		<div class="widget wgreen" ng-controller="Receipt">

			<div class="widget-head">
				<div class="pull-left">Pré - Recebimento</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">
					<%= form_for @pre_receipt do |f| %>
						<div class="row-fluid">
							<div class="span12">
								<%= f.label :product, "Produto" %>						
								<%= f.select(:product_id, @products.collect {|p| [ p.name, p.id ] }, { :include_blank => '' }, :class => "select-2", :disabled => true )%>
							</div>
						</div>
						<br>
						<div class="row-fluid">
							<%= f.label :address, "Endereço" %>
							<%= f.select(:address_id, @addresses.collect {|p| [ address_name_increment(p), p.id ] }, { :include_blank => '' }, :class => "select-2", :disabled => true )%>
						</div>
						<br>
						<div class="row-fluid">
							<div class="span3">
								<%= f.label :quantidade, "Quantidade" %>
								<%= f.number_field :quantidade, :disabled => true  %>
							</div>
							<div class="span3">
								<%= f.label :fabricacao, "Data de Fabricação" %>
								<%= f.date_field :fabricacao, :disabled => true  %>
							</div>
							<div class="span3">
								<%= f.label :embarque, "Data de Embarque" %>
								<%= f.date_field :embarque, :disabled => true  %>
							</div>
							<div class="span2">
								<%= f.label :packing, "Packing List" %>
								<%= f.text_field :packing, :disabled => true %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span3">
								<%= f.label :container, "Número do Container" %>
								<%= f.text_field :container, :disabled => true %>
							</div>
							<div class="span3">
								<%= f.label :navio, "Navio" %>
								<%= f.text_field :navio, :disabled => true %>
							</div>
							<div class="span3">
								<%= f.label :status, "Status" %>
								<%= f.select(:status, ['Embarcado'], :disabled => true )%>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		
			<div class="widget-head">
				<div class="pull-left">Recebimento</div>
				<div class="clearfix"></div>
			</div>
			
			<div class="widget-content">
				<div class="padd">
					<%= form_for @receipt do |f| %>
						<div class="row-fluid">
							<div class="span2">
								<%= f.label :rastreio, "Rastreio" %>						
								<%= f.text_field :rastreio, :value => @pre_receipt.rastreio %>
								<%= f.hidden_field(:pre_receipt_id, value: @pre_receipt.id)%>
							</div>
							
							<div class="span3">
								<%= f.label :data_recebimento, "Data do Recebimento" %>						
								<%= f.date_field :data_recebimento, :required => "required", :"ng-model" => "hasDamages" %>
							</div>

							<div class="span2">
								<%= f.label :avarias, "Houveram avarias?" %>						
								<%= f.check_box :avarias, :"ng-model" => "hasDamages" %>
							</div>
							
							<div class="span2">
								<%= f.label :placa_caminhao, "Placa do caminhão" %>						
								<%= f.text_field :placa_caminhao %>
							</div>
							
							<div class="span3">
								<%= f.label :qtde_avariada, "Qtde. de produtos avariados" %>						
								<%= f.text_field :qtde_avariada, :"ng-disabled" => "!hasDamages" %>
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span12">
								<%= f.label :descricao_avarias, "Descrição das avarias" %>
								<%= f.text_area :descricao_avarias, size: "100x5", :"ng-disabled" => "!hasDamages" %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span4">
								<%= f.label :usuario, "Usuário" %>
								<%= f.text_field :usuario%>
							</div>
						</div>
					
						<div class="actions">
							<%= f.submit "Cadastrar", :class => "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>