<div class="page-head">
	<h2 class="pull-left">Recebimentos 
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Recebimentos</a>
	</div>
	<div class="clearfix"></div>
</div>



<div class="widget wgreen">
	<p id="notice"><%= notice %></p>
	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%#= link_to raw('<i class="icon-plus"></i> Novo recebimento'), new_receipt_path %>
		</div>
		<div class="clearfix"></div>
	</div>	
	<div class="widget-content">

		<table class="table table-bordered table-striped" id="reportReceipts">
			<thead>
				<tr>
					<th>Tipo do Produto</th>
					<th>Produto</th>
					<th>Endereço</th>
					<th>Cod. Rastreio</th>
					<th>Quantidade</th>
					<th>Fabricação</th>
					<th>Embarque</th>
					<th>Packing</th>
					<th>Container</th>
					<th>Navio</th>
					<th>Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @pre_receipts.each do |pre_receipt| %>
					<tr>
						<td><%= pre_receipt.product.product_type.descricao unless pre_receipt.product.product_type.nil? %></td>
						<td><%= pre_receipt.product.name %></td>
						<td><%= pre_receipt.address.nome %></td>
						<td><%= pre_receipt.rastreio %></td>
						<td><%= pre_receipt.quantidade %></td>
						<td><%= pre_receipt.fabricacao.to_s(:date) %></td>
						<td><%= pre_receipt.embarque.to_s(:date) %></td>
						<td><%= pre_receipt.packing %></td>												
						<td><%= pre_receipt.container %></td>
						<td><%= pre_receipt.navio %></td>
						<td><%= pre_receipt.status %></td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
									Ações
									<span class="caret"></span>								
								</a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to receipt_link_text(pre_receipt), receipt_link(pre_receipt) %>
									</li>
									<li>																	
										<%= link_to 'Excluir', pre_receipt.receipt, method: :delete, data: { confirm: 'Confirma exclusao?' } if !pre_receipt.receipt.nil?%>
									</li>
								</ul>
							</div>							
						</td>
					</tr>
				<% end %>                                                                    
			</tbody>
		</table>

	</div>

</div>
