<div class="row-fluid">

	<div class="span12">


		<div class="widget wgreen">

			<div class="widget-head">
				<div class="pull-left">Pré - Recebimento</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">
					<%= form_for @pre_receipt do |f| %>
						<div class="row-fluid">
							<div class="span12">
								<%= f.label :product, "Produto" %>						
								<%= f.select(:product_id, @products.collect {|p| [ p.name, p.id ] }, { :include_blank => 'Selecione' }, :required => true, :class => "select-2" )%>
							</div>
						</div>
						<br>
						<div class="row-fluid">
							<%= f.label :address, "Endereço" %>
							<%= f.select(:address_id, @addresses.collect {|p| [ p.nome, p.id ] }, { :include_blank => 'Selecione' }, :required => true, :class => "select-2" )%>
						</div>
						<br>
						<div class="row-fluid">
							<div class="span3">
								<%= f.label :quantidade, "Quantidade" %>
								<%= f.number_field :quantidade, :required => true  %>
							</div>
							<div class="span3">
								<%= f.label :fabricacao, "Data de Fabricação" %>
								<%= f.date_field :fabricacao, :required => true  %>
							</div>
							<div class="span3">
								<%= f.label :embarque, "Data de Embarque" %>
								<%= f.date_field :embarque, :required => true  %>
							</div>
							<div class="span2">
								<%= f.label :packing, "Packing List" %>
								<%= f.text_field :packing, :required => true  %>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span3">
								<%= f.label :container, "Número do Container" %>
								<%= f.text_field :container, :required => true  %>
							</div>
							<div class="span3">
								<%= f.label :navio, "Navio" %>
								<%= f.text_field :navio  %>
							</div>
							<div class="span3 hide">
								<%= f.label :status, "Status" %>
								<%= f.select(:status, ['Embarcado'], :required => true )%>
							</div>
						</div>
						<div class="actions">
							<%= f.submit "Cadastrar", :class => "btn btn-inverse" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>