<div class="page-head">
	<h2 class="pull-left">Pré - Recebimentos 
	</h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="#" class="bread-current">Pré - Recebimentos</a>
	</div>
	<div class="clearfix"></div>
</div>



<div class="widget wgreen">

	<div class="widget-head">
		<div class="widget-icons pull-left">
			<%= link_to raw('<i class="icon-plus"></i> Novo pre-recebimento'), new_pre_receipt_path %>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="widget-content">

		<table class="table table-bordered table-striped" id="reportPreReceipts">
			<thead>
				<tr>
					<th>Tipo do Produto</th>
					<th>Produto</th>
					<th>Endereço</th>
					<th>Cod. Rastreio</th>
					<th>Quantidade</th>
					<th>Fabricação</th>
					<th>Embarque</th>
					<th>Packing</th>
					<th>BL/AWB</th>
					<th>Container</th>
					<th>Navio</th>
					<th>Status</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @pre_receipts.each do |pre_receipt| %>
					<tr>
						<td><%= pre_receipt.product.product_type.descricao unless pre_receipt.product.product_type.nil? %></td>
						<td><%= pre_receipt.product.name %></td>
						<td><%= pre_receipt.address.nome %></td>
						<td><%= pre_receipt.rastreio %></td>
						<td><%= pre_receipt.quantidade %></td>
						<td><%= pre_receipt.fabricacao.to_s(:date) %></td>
						<td><%= pre_receipt.embarque.to_s(:date) %></td>
						<td><%= pre_receipt.packing %></td>
						<td><%= pre_receipt.container %></td>
						<td><%= pre_receipt.navio %></td>
						<td><%= pre_receipt.status %></td>
						<td><%= link_to 'Editar', edit_pre_receipt_path(pre_receipt) %></td>
						<td><%= link_to 'Excluir', pre_receipt, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
					</tr>
				<% end %>                                                                    
			</tbody>
		</table>

	</div>

</div>