<div class="page-head">
	<h2 class="pull-left">Pré - Recebimentos </h2>
	<div class="bread-crumb pull-right">
		<a href="/"><i class="icon-home"></i> Home</a> 
		<!-- Divider -->
		<span class="divider">/</span> 
		<a href="<%= pre_receipts_path %>" class="bread-current">Pré - Recebimentos</a>
	</div>
	<div class="clearfix"></div>
</div>

<div class="row-fluid">

	<div class="span12">


		<div class="widget wgreen" ng-controller="PreReceiptController" data-ng-init="init()">

			<div class="widget-head">
				<div class="pull-left">Novo Pré - Recebimento</div>
				<div class="clearfix"></div>
			</div>

			<div class="widget-content">
				<div class="padd">
					<div id="addPreReceipt">
						<div class="row-fluid">
							<div class="span12">
								<label for="product_id">Produto</label>
								<select class="select-2" id="product_id" name="pre_receipt[product_id]" ng-model="produto" ng-change="recarregar()">
									<option></option>				
									<% @products.each do |product|%>
										<option value="<%=product.id%>"><%=product.name%></option>					  	
									<%end%>
								</select>
							</div>
						</div>
						<br>
						<div class="row-fluid">														
							<label for="address_id">Endereço</label>
							<select required="required" class="select-2" id="address_id" name="pre_receipt[address_id]" ng-model="endereco">
								<option></option>
								<% @addresses.each do |parent, address|%>
									<% if !parent.nil? %>
										<optgroup label="<%=parent.nome%>">
											<% address.each do |address| %>
												<option value="<%=address.id%>"><%=address.nome%></option>
											<% end %>
										</optgroup>
									<% end %>								  	
								<%end%>
							</select>							
						</div>
						<br>
						<div class="row-fluid">
							<div class="span3">
								<label for="quantidade">Quantidade</label>
								<input type="number" id="quantidade" ng-model="quantidade">
							</div>
							<div class="span3">
								<label for="fabricacao">Data de Fabricação</label>
								<input type="date" id="fabricacao" ng-model="fabricacao">								
							</div>
							<div class="span3">
								<label for="embarque">Data de Embarque</label>
								<input type="date" id="embarque" ng-model="embarque">
							</div>
							<div class="span2">
								<label for="packing">Packing List</label>
								<input type="text" id="packing" ng-model="packing">								
							</div>
						</div>
						<div class="row-fluid">
							<div class="span3">
								<label for="container">Número do Container</label>
								<input type="text" id="container" ng-model="container">		
							</div>
							<div class="span3">
								<label for="container">Navio</label>
								<input type="text" id="navio" ng-model="navio">		
							</div>
						</div>
						<div class="actions">
							<button type="button" class="btn btn-inverse" ng-click="addPreReceipt()">Adicionar</button>
						</div>
					</div>
					<br/>
					<table class="table table-bordered table-striped" id="reportPreReceiptsNew">
						<thead>
							<tr>
								<th>Produto</th>
								<th>Endereço</th>
								<th>Cod. Rastreio</th>
								<th>Quantidade</th>
								<th>Fabricação</th>
								<th>Embarque</th>
								<th>Packing</th>								
								<th>Container</th>
								<th>Navio</th>
								<th></th>						
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pre_receipt in preReceipts">
								<td>{{pre_receipt.product.name}}</td>
								<td>{{pre_receipt.address.nome}}</td>
								<td>{{pre_receipt.rastreio}}</td>								
								<td>{{pre_receipt.quantidade}}</td>
								<td>{{pre_receipt.fabricacao}}</td>
								<td>{{pre_receipt.embarque}}</td>
								<td>{{pre_receipt.packing}}</td>
								<td>{{pre_receipt.container}}</td>
								<td>{{pre_receipt.navio}}</td>
								<td><button type="button" class="btn btn-inverse" ng-click="excluir(pre_receipt.id)">Excluir</button></td>
							</tr>  
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Salvar', pre_receipts_path, :class => "btn btn-primary" %>
