<!doctype html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<title>WMS SEINFRA</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<style>
		</style>
	</head>
	<body>
		
		
		<div id="header">

			<!-- Inicio - Barra Verde -->
			<div id="cab_topo">
				<div id="cab_topo_data"></div>
				<div id="cab_topo_elementos">
					<div id="cab_topo_govlink">
						<a href="http://www.ceara.gov.br" alt="Acesse o Portal do Governo" target="_blank">
							<%= image_tag "logo_gov_barra.jpg" %>
						</a>
					</div>
					</div>
				</div>
				<div class="row-fluid middle_header">
					<div class="pull-left">
						<a href="/">
							<%= image_tag "logo.png" %>	
						</a>
					</div>
	
					<div class="kwara" id="top_waves">
						<%= image_tag "logo-kwara.png", :class => 'pull-right' %>
					</div>
				</div>
				<div class="bottom_header_simples"></div>
			</div>
	

	<div class="content">
		<div class="sidebar">
			<div class="sidebar-dropdown"><a href="#">Menu de Navegação</a></div>

			<div class="sidebar-inner">

				<ul class="navi">
					<li class="has_submenu">
						<a href="#">
							<i class="icon-numbered-list"></i> Cadastro
							<span class="pull-right"><i class="icon-arrow-right-2"></i></span>
						</a>
						<ul>
							<li><%= link_to 'Tipos de Produto', product_types_path %></li>
							<li><%= link_to 'Produtos', products_path %></li>
							<li><%= link_to 'Fornecedores', providers_path %></li>
							<li><%= link_to 'Endereços', addresses_path %></li>
							<li><%= link_to 'Usuários', users_path %></li>
						</ul>
					</li> 
					<li class="has_submenu">
						<a href="#">
							<i class="icon-download"></i> Recebimento
							<span class="pull-right"><i class="icon-arrow-right-2"></i></span>
						</a>
						<ul>
							<li><%= link_to 'Pré - Recebimento', pre_receipts_path %></li>
							<li><%= link_to 'Recebimento', receipts_path %></li>
						</ul>
					</li>
					<li><%= link_to raw('<i class="icon-upload"></i> Expedição'), dispatches_path %></li>					
					<li><%= link_to raw('<i class="icon-storage"></i> Estoque'), storages_path %></li>	
					<li><%= link_to raw('<i class="icon-storage"></i> Arquivos'), file_storages_path %></li>
					<li class="has_submenu">
						<a href="#">
							<i class="icon-report"></i> Relatórios
							<span class="pull-right"><i class="icon-arrow-right-2"></i></span>
						</a>
						<ul>
							<li><%= link_to 'Produtos', product_reports_path %></li>
							<li><%= link_to 'Recebimentos', receipt_reports_path %></li>							
							<li><%= link_to raw('<i class="icon-storage"></i> Armazenamento'), storages_path %></li>	
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="mainbar">

			<div class="matter">
				<div class="container-fluid">
					<%= yield %>
				</div>
			</div>
		</div>
	</body>
	<%= javascript_include_tag "base", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>


