<!doctype html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<title>WMS SEINFRA</title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<style>
		</style>
	</head>
	<body>
		<%= yield %>
	</body>
	<%= javascript_include_tag "base", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</html>


